@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sidemenu_head" style="font-size:20px;font-weight:bold;">Home</div>
                            <div class="sidemenu">
<p>
<h2>@ViewBag.Message</h2>
   </p>
</div>