@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sidemenu_head" style="font-size:20px;font-weight:bold;">Home</div>
                            <div class="sidemenu">
<p>

    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
    

</p>
</div>